<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.xtext.org/selenium/eliedenis/EDdsl"
			class = "org.xtext.selenium.eliedenis.eDdsl.EDdslPackage"
			genModel = "model/generated/EDdsl.genmodel" />
	</extension>
</plugin>
